/*@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  all: unset;
/*  font-family: 'Barlow', sans-serif;*/
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  --window-height: calc(100vh - 2rem);
}

code {
  white-space: pre;
}