div {
    box-sizing: border-box;
}
.room {
    
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .picker & {
        position: static;
        min-height: unset;
        border-radius: 4px;
    }

    background: #ccc;
    &.free {
        background: #93E0FF;
    }

    display: grid;
    /*
        minmax(0%, #fr) is a workaround to get safari to treat flex units as a absolute height for calculating children that are 100% of height
    */
    grid-template-rows: 2rem minmax(0%, 2fr);
    grid-auto-rows: minmax(0%, 1fr); 

    overflow: hidden;
    
    grid-template-areas: "controls" "status";
    &.busy {
      background: #C80037;
    }
    
    .controls {
        background:#fff;
        grid-area: controls;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1rem;
        padding: .5rem;
        line-height: 1rem;
        border-bottom: 1px solid rgba(0,0,0,0.25);

    }

    &.active {
        box-shadow: 0 0 0 0.125rem yellow;
    }

    &.open {
        .controls {
            grid-template-columns: max-content 1fr;
            .button {
                overflow: hidden;
                display: block;
                width: 1rem;
                margin-right: 0.5rem;
                svg {
                    width: 1rem;
                }
            }
        }
    }

    .status {
        display: grid;
        place-items: center;
        grid-area: status;
        font-size: 3rem;
        color: #fff;
        font-weight: 600;
    }

    .aspects {
        fill: #fff;
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        grid-auto-columns:1fr;
        padding: 1rem;
        svg {
            max-width: 8rem;
            max-height: 8rem;
        }
    }
    
}